// PRIMARY BUTTON STYLE //

.btn {
  @include button-size(13px, 25px, 16px, 1, 10px);

  font-family: $font-family-third;
  white-space: normal;

  /* &.disabled {
        color: #666B6C;
        background-color: #D3D9DC;
        border-color: #B0BBC0;
        opacity: 1;
    }

    &:disabled {
        background-color: #D3D9DC;
        color: #666B6C;
        border: 0;
        border-bottom: 3px solid #B0BBC0;
        opacity: 1;

        &:hover,
        &:focus {
            background-color: #D3D9DC;
            color: #666B6C;
            border-bottom: 3px solid #B0BBC0;
            text-decoration: none;
            opacity: 1;
        }
    } */
}

.btn-sm {
  @include button-size(0.8em, 0.8em, 0.75rem, 1, 10px);
}

.btn-md {
  @include button-size(0.9em, 0.9em, 0.9rem, 1, 10px);
}

.btn-primary {
  width: auto;
  height: 50px;
  box-shadow: 6px 6px 0 0 $black;
  border: solid 1px $black;
  background-color: $white;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.13;
  letter-spacing: 1.2px;
  text-align: left;
  color: $black !important;

  &.dropdown-toggle:focus,
  &.dropdown-toggle:active {
    border: solid 1px $black;
    background-color: $black !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 1.2px;
    text-align: left;
    color: $white;
  }

  &:focus {
    background-color: $black;
    color: $white !important;
  }

  &:active {
    background-color: $black !important;
    color: $white !important;
  }

  &:hover,
  &.dropdown-toggle:hover {
    -webkit-box-shadow: 5px 5px 0 0 $black;
    box-shadow: 6px 6px 0 0 $black;
    outline: 2px solid $black;
    background-color: $white;
    color: $black;

    svg {
      fill: $white !important;
    }
  }
}
