.collapse-plus-and-minus-controller {
  font-family: Asap;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 2.5px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  font-size: 18px;
}

.hr-sm {
  height: 2px;
  border-top: 2px
  solid $black;
}
