// Resolve random body padding issue
.mw-body {
  padding: 0;
}

// Hide Glossary
.toc,
#toc {
  display: none;
}

// Resolve random padding issue
:target {
  padding-top: 0 !important;

  &::before {
    content: none !important;
  }
}
