// Variables
@import 'variables';

// global
@import 'global';

// Bootstrap
@import "bootstrap/bootstrap";

// Navigation
@import "components/navigation-bar";

// FIX: Extend file within original assets folder
@import "../../assets/sass/helpers/box-shadows";

// Components
@import "components/alerts";
@import "components/buttons";
@import "components/forms";
@import "components/modal";
@import "components/card-talk";
@import "components/tables";
@import "components/events-tables";
@import "components/custom-check-tick";
@import "components/lists";
@import "components/tabs";
@import "components/tabs-no-space-mobile";

// Helpers
@import "helpers/hr";

// Plugins
@import "plugins/select2";
