// Variables
@import 'variables';

// Bootstrap
@import "bootstrap/bootstrap";

// Navigation
@import "components/navigation-bar";

// Helpers
@import "helpers/box-shadows";
@import "helpers/hoverable";

// Other
@import "components/buttons";
@import "components/forms";
@import "components/pagination";
@import "components/tables";
@import "components/tabs";
@import "components/collapse";
@import "components/popover";
@import "components/cards";

@import "plugins/select2";

.pagination {
  li.page-item {
    &.disabled {
      display: none;
    }
  }
}
