.registration {
    @include media-breakpoint-up(lg) {
        padding-top: 44px;
    }

    .btn-checkbox {
        width: 100%;
        background-color: white;

        &:active {
            background-color: $apricot !important;
        }

    }

    .registration-skill {
        padding: 16px 10px !important;
        font-size: 14px !important;
    }

    [type="checkbox"]:checked + label.btn-checkbox {
        background-color: $apricot !important;
        color: $black !important;
        box-shadow: none;
        border: 2px solid black !important;
    }

    .btn-next, #register-form-submit {
        background-color: $brand;

        &:hover, &:active, &:focus {
            color: $black !important;
            background-color: $brand !important;
        }
    }

    padding: 10px 0;

    label sup {
        color: #FF0000;
        font-size: 16px;
        top: auto;
        left: auto;
    }

    header {
        svg {
            width: 204px;
            height: auto !important;
            margin-bottom: 15px;
            display: block;
            @include media-breakpoint-down(sm) {
                margin: auto;
            }
        }
        p {
            font-size: 24px;
            padding: 0 15px;
        }
    }

    fieldset, .fieldset {
        margin-bottom: 10px;
        @extend .clear;
    }

    .alert {
        margin: 15px 0;
        @extend .clear;
    }

    .form-group {
        margin-bottom: 15px;
    }

    &__offset2 {
        @include media-breakpoint-up(lg) {
            padding-right: 60px;
        }
    }

    &__prev {
        border: 0;
        background-color: transparent;
        color: #616161;
        text-decoration: underline;
        padding: 16px;
        &:hover {
            text-decoration: none;
        }
    }

    &__status {
        position: absolute;
        right: 35px;
        top: 20px;
        z-index: 2;
        color: #757575;
        font-size: 14px;
        margin: 0 0 20px 0;
        @include media-breakpoint-up(lg) {
            top: 40px;
        }
    }

    &__step {
        position: relative;
        z-index: 1;
        margin: 30px 0 60px 0;
        padding: 20px;

        @include media-breakpoint-up(lg) {
            padding: 40px 35px;
        }
        @extend .clear;
        border: 1px solid $black;
        background-color: $white;
        display: none;
        visibility: hidden;

        &--active {
            display: block;
            visibility: visible;
        }

        h3 {
            font-size: 20px;
            margin: 0 0 10px 0;
            color: $black;
            padding-right: 100px;
            border-bottom: 2px dashed black !important;
        }

        h5 {
            border-bottom: 2px dashed $black;
        }

        legend {
            font-size: 15px;
            line-height: 1;
            font-weight: 500;
            margin-bottom: 25px;
        }
    }

    .form-control {
        font-size: 15px;
        border-width: 2px;
    }

    .form-check {
        margin-bottom: 10px;
        font-size: 15px;

        label {
            font-size: 15px;
            line-height: 1.4;
        }

        label, input {
            margin-top: auto;
            margin-bottom: auto;
        }

        input.checkbox-top {
            margin-top: 5px;
        }
    }
}
