@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Patua+One|Asap:400,700');

// Body
$body-bg: #f5f8fa;
$brand: #4aaebc;

// Typography
$font-family-sans-serif: 'Asap', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-second: 'Open Sans', sans-serif;
$font-family-third: 'Asap', sans-serif;

$focus1 : #0062cc;
$brand: #4aaebc;
$black: #000;

.clear {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

$theme-colors: (
  primary: $brand,
  warning: #ffbe5f,
  info: #d0dae6,
  success: #3fce97,
);

/** Custom spacing properties */
$spacers: () !default;
$spacers: map-merge(
  (
    10: 10px,
    15: 15px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    45: 45px,
    50: 50px,
    60: 60px,
  ),
  $spacers
);
